<footer class="site-footer">
  <div class="footer-inner">
    <p class="footer-text">Made with ❤︎ by Patrícia S. Silva.</p><br>
    <p class="footer-text">© {{ site.time | date: '%Y' }}</p><br>
    <p class="footer-text"><a href="{{ '/contact/' | relative_url }}">Contact</a></p><br>
    <br>
    <small><i>All content, images, and materials on this website are the exclusive property of Patrícia Silva. 
    Unauthorized use, scraping, copying, or utilization of any site content to train, retrain, or feed 
    artificial intelligence (AI) systems, machine learning models, or large language models (LLMs) is 
    strictly prohibited.</i></small>

  </div>
</footer>