.lista-eventos > p{
  width:0px;
  height:0px;
  overflow:hidden;
margin:0;
padding:0}
  
  
  
  .lista-eventos img {
    position:absolute;
top: 0;
bottom: 0;
width: 100%;
height: 100%;
    object-fit: cover;
  }

  .lista-eventos h6 a{
      font-family: var(--font-sans) !important;
      font-weight: 600;
      font-size: 1.3rem;  
      text-transform: uppercase;
    }

  
  .imagem-evento {
width:100%;
padding-bottom: 100%;
overflow: hidden;
    position:relative;
  }


  form.wpcf7-form.init .wpcf7-form-control.wpcf7-submit, form#event-form input[type="submit"] {
      background: none;
      border: 2px solid;
      color:var(--color-primary);
      padding:12.5px 20.8px;
    }

.entry-content .lista-anteriores li{margin-top:0px}

.evento-anterior{
    display:grid; 
    border-bottom:1px solid grey; 
    padding-bottom:1rem;
}

/* Na versão pra celular, a imagem não aparece */
.lista-anteriores .evento-anterior .imagem-evento{
display:none
}

@media screen and (min-width: 640px) {
    .evento-anterior{
    grid-template-columns: 1fr 11fr; 
    grid-gap: 1rem;
        /* top | right | bottom | left */
    padding:0.7rem 0 1.5rem 0;
    }
  
   .evento-anterior .texto-evento,.evento-anterior .imagem-evento{
       align-self: center;} 

  .lista-anteriores div.evento-anterior div.imagem-evento{
    /* vertical | horizontal */
    margin: 0.5rem 0;
    display:block;  /* Na versão pra desktop, a imagem aparece */
    }

}

/*altera a margem do bloco de eventos */
.wp-block-latest-postslist.is-grid.columns-4.alignwide.wp-block-latest-posts.lista-eventos {
    margin: 0 auto;
}
  
  /*Modificação que deixa imagens quadradas na página dos eventos singulares*/
body.single-event .featured-media .featured-media-inner img.wp-post-image {
    max-width: 48rem;
    max-height: 48rem;
    width: 100vw;
    height: 100vw;
}

/*form eventos */
.ui-em_timepicker-wrapper {
    overflow-y: auto;
    max-height: 150px;
    width: 150px;
    background: #fff;
    border: 1px solid #666;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    outline: 0;
    z-index: 10052;
    margin: 0;
}

ul.ui-em_timepicker-list {
    list-style: none;
    margin: auto;
}

li.ui-em_timepicker-selected {
    color: var(--color-alert);
}

.em-location-data {
    margin-bottom: 1.6rem;
}

table.em-location-data, .em-location-data th, .em-location-data td {
    border: none;
}

.em-location-data td {
    width: 80%;
}


.em-location-data i {
    display: inline-block;
    width: 1.2rem;
    margin-inline-start: 1.2rem;
}

.em-location-data input {
    width: calc(100% - 2.4rem);
    display: inline-block;
}

.event-attributes, .event-categories {
    margin-top: 2.4rem;
}

#event-form, #event-form p, #event-form select, #event-form option, #event-form label, #event-form em, #event-form th {
    font-family: var(--font-sans);
    font-size: 1.6rem;
}

#event-form select, #event-form option {
    padding: 0.5rem;
}

select#location-country {
    border: 1px solid #000;
}

.em-warning-errors {
    background-color: var(--color-error-light);
    border: 1px solid var(--color-alert);
	padding: 2.4rem;
}

#event-form h3 {
    margin: 2.4rem auto 1.6rem;
}

.input-field-data_privacy_consent {
    margin-top: 2.4rem;
}


/*formulário de contato*/

form .contato-eventos label + br {
  display: none;
}

form .contato-eventos label, .entry-content form p{
  font-family: var(--font-sans);
  font-size:1.6rem;
}

form .contato-eventos p{
  padding-bottom: 0.5rem
}

form .contato-eventos .assunto span:nth-child(1){
  padding-top:0.5rem
}


