.site-brand {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, auto);
  text-decoration: none;
  /* width: 320px; */
}

.site-logo {
  display: flex;
  margin: 1rem 0 0 2.4rem !important;
  height: 48px;
}

.site-logo img {
  flex: 1;
}

.site-title {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 2.4rem !important;
  transition: all 0.15s linear; 
}

.site-title p {
  color: #fff;
  margin: 0;
  font-family: var(--font-sans);
  line-height: normal;
  font-size: 1.9rem;
  font-weight: 500;
  text-transform: uppercase;
  /* overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
}

@media (max-width: 699px) {
  .site-title {
    display: none;
  }
}